body{
  direction: rtl;
}
.productStyle{
  align-items: center;
  font-style: italic;
  display: flex;
  flex-direction:column;
  margin: 20px;
}

 .ps{
  display: flex;
  flex-direction:row;
} 
.App
{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight:1000;
  
}
input
{
  width: 140px;
  height: 30px;
}
button
{
  width: 140px;
  height: 30px;
}
img{
  border: 2px solid black;
  margin: 10px;
}
.bskt
{
  display: flex;
  flex-direction: row;
}
/* .bskt2
{
  color: cadetblue;
  align-items: center;
  font-style: italic;
  display: flex;
  flex-direction:row;
  margin: 20px;
} */